* {
    padding:0;
    margin:0;
}

body{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    position: relative;
    margin: 3% 5%;
    background-color:transparent !important; 
    box-shadow: 0 0 15px 5px rgba(19, 20, 20, 0.8);
}

.navbar{
    margin: -5.5% -2.8% 2%;
}

i{
    color:white;
}

.card{
    box-shadow: 0 0 15px 5px rgba(19, 20, 20, 0.8);
    perspective: 1000px;
}

.opcoes{
    border-radius: 2.5em;
    box-shadow: 0 0 15px 5px rgba(19, 20, 20, 0.8);
    position: relative;
    float: right;
    margin-right: -5.5%;
    margin-top: 1%;
}

.card-header p{
    text-align: center;
    margin-bottom: -9%;
    padding: 2em;
}

.img-perfil{
    position: absolute;
    vertical-align: middle;
    width: 90px;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px rgba(19, 20, 20, 0.8);
}